html, body {
    height: 100%;
}

body {
    background: red;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 85%;
    width: 40%;
    max-width: 1440px;
    margin: auto;
}

#translateX1, #translateX2, #translateX3, #translateX4, #translateX5 {
    position: absolute;
    left: 0px;
}

.avatar {
    border-radius: 50%;
    border: 3px solid white;
    width: 48px;
    opacity: 0;
}

.avatares {
    width: 90%;
    position: absolute;
    left: 5%;
}

.botao {
    padding: 15px 30px;
    background: none;
    border: 2px solid white;
    color: white;
}

button.botao:hover {
    border: 2px solid white;
    background: white;
    color: red;
    cursor: pointer;
}

button.botao:active {
    border: 2px solid rgb(216, 216, 216);
    background: rgb(216, 216, 216);
    color: rgb(121, 0, 0);
    cursor: pointer;
}

.letter {
    font-size: 1.5em;
}

.animacaoCima {
    animation-name: animationCima;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition: ease-in-out;
}

.animacaoBaixo {
    animation-name: animationBaixo;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition: ease-in-out;
}

@keyframes animationCima {
    0% {
        transform: translateY(0px);
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateY(-580px);
        opacity: 0;
    }
}

@keyframes animationBaixo {
    0% {
        transform: translateY(-600px);
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 0;
    }
}